@import url("https://use.typekit.net/wzl8ems.css");
/* imported from adobe font */

/* colors #0f3057 #00587a #008891  #e7e7de; white; black; */

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin-bottom: 0;
}

header {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
}

header h1 {
  font-family: montserrat-alternates, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  margin-bottom: 0;
  text-align: center;
  font-size: 5vw;
  padding-top: 10px;
  color: #00587a;
}

main {
  min-height: 100%;
  margin-bottom: 0;
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
}

/* footer */
footer {
  background: #00587a;
  height: 100px;
  position: relative;
  padding: 15px;
  bottom: 0;
  color: #e7e7de;
  padding-top: 2%;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: italic;
  min-width: 100%;
}

summary {
  color: #008891;
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16pt;
}

.right {
  float: right;
}
.left {
  float: left;
}

.joblist {
  border: 5px #0f3057 solid;
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
}

h1.position {
  color: #00587a;
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16pt;
}

p.added {
  color: #00587a;
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14pt;
}

p.field {
  color: #00587a;
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14pt;
  margin-bottom: 0;
 line-height: 5pt;
}

p.dates {
  color: #00587a;
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14pt;
  display: inline-block;
  margin-right: 25px;
}

p.notes {
  color: #000;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  margin-bottom: 15px;
}

a.link {
  color: #008891;
  font-family: serenity, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  overflow: auto;
  margin-right: 25px;
}

.update-form {
  margin-bottom: 2%;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
